body
{
    background-color: dimgrey;
}

.top
{
    height: 12vh;
    width: 70vw;
    background-color: #909090;
    margin: auto;
    border-radius: 1vh;
    box-shadow: 0.5vw 1vh 0.5vw 0.05vw black;
}

.top_42
{
    position: relative;
    TOP: -1vh;
    BOTTOM: 1vh;
    LEFT: 0.5vw;
    width:25vw;
    height:10vh;
}

.loupe
{
    position: relative;
    TOP: 1.5vh;
    BOTTOM: 1vh;
    LEFT: 28vw;
    width:15vw;
    height:12vh;
}

.reload
{
    position: relative;
    TOP: -10vh;
    BOTTOM: 0vh;
    LEFT: 28vw;
    width:1vw;
    height:1.1vh;
}

.close
{
    position: relative;
    TOP: -1vh;
    BOTTOM: 0vh;
    LEFT: 27vw;
    width:1vw;
    height:1.1vh;
}

.center
{
    height: 60vh;
    width: 45vw;
    background-color: #909090;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vh;
    box-shadow: 0.5vw 1vh 0.5vw 0.05vw Black;
}

.cluster
{
    position: relative;
    padding: 13px;
    width: 96%;
    height: 96%;
}

.left
{
    height: 60vh;
    width: 7vw;
    float: left;
    margin-top: 3vh;
    margin-right: 35vh;
    background-color: #909090;
    border-radius: 1vh;
    box-shadow: 0.5vw 1vh 0.5vw 0.05vw black;
}

.arrow
{
    position: relative;
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.main
{
    position: relative;
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.oeil
{
    position: relative;
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.oeil:hover
{
    border: 5px solid red;
    border-radius: 3px;
}

.outil
{
    position: relative;
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.chat-icon
{
    position: relative;
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.right
{
    height: 60vh;
    width: 7vw;
    float: right;
    margin-top: 3vh;
    margin-right: 20vh;
    background-color: #909090;
    border-radius: 1vh;
    box-shadow: 0.5vw 1vh 0.5vw 0.05vw black;
}

.book
{
    position: relative;
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
}

.towel
{
    position: relative;
    display: block;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

.brick
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    width: 6vw;
    height: 7vh;
    background-image: url("resources/brick.jpg");
    background-repeat: repeat;
}

.interact
{
    position: absolute;
    height: 16vh;
    width: 24vw;
    float: right;
    margin-top: -7vh;
    margin-left: 31vh;
    background-color: #A6FC96;
    border-radius: 1vh;
    box-shadow: 0.5vw 1vh 0.5vw 0.05vw Black;
}

.shadow
{
    line-height: 1px;
    text-shadow: 4px 5px 4px #ff0000;
}

input
{
    margin-left: 1vw;
    width: 17vw;
    height: 1.5vh;
}